@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

#links{
    font-family: 'Lato';
    position:relative;
    top:40px;
    left:75%;
  
}
#shadow
{
    position: absolute;
    background-color: black;
    opacity: 20%;
    width:102vw;
    height:104vh;
    left:-10px;
    top:0px;
    z-index:-1;

}
#rainbow-crop
{

    width:50%;
    height:auto;
    object-fit: contain;
}
body
{
    background-image: linear-gradient(#0a2f9e,#a458ff);    
    background-size: cover;
    width:100%;
    height: 1000px;

}
#rainbow
{   
    position:relative; 
    background-size: cover;
    align-content: center;
    width:60%;
    height:56%;
    top:-300px;
    left:50%;
}
#buttonpos
{
    display: flex;
    justify-content: center;
    z-index:1;

}
#btn {
    font-family: 'Lato';
    font-weight: bolder;
    background-color:black;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.3s;
    cursor: pointer;
    z-index:1;

  }
  
#btn:hover {opacity: 0.6}

#welcome{
    position: relative;
    top:-100px;
    font-family: 'Lato';
    font-weight: bold;
    text-align: center;
    color:white;
    float: center;
    font-size:5pt;
    z-index:1;

}
h1{
    position:relative;
    font-family: 'Lato';
    font-weight: bold;
    text-align: center;
    float: center;
    font-size:5pt;
    z-index:1;

}
#disclaimer
{
    position:relative;
    top:-100px;
    z-index:1;

}
h6{
    position:relative;
    font-family: 'Lato';
    text-align: center;
    float: center;
    font-weight: lighter;
    font-size: 7pt;
    color:white;
    z-index:1;
}
#logo
{
    position:relative;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height:-300px;
    z-index:1;

}
a{
    color:white;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    text-decoration: none;
    font-weight: 700;
    z-index:1;

}
a:hover {
    color:#70fff5;
    
}
li {
    display: inline;
    padding:10px;
    color:white;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:300px;
  }

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}